<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="com.bonita.rental.ui.prefs.RentalColorPreferencePage"
            id="com.bonita.rental.ui.pagecolor"
            name="Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bonita.rental.ui.prefs.RentalInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.opcoach.training.rental.Rental"
            class="com.bonita.rental.adapters.RentalToCustomerAdapterFactory">
         <adapter
               type="com.opcoach.training.rental.Customer">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.bonita.rental.ui.palette">
      <palette
            id="com.bonita.rental.ui.palette1"
            name="Default Palette"
            paletteClass="com.bonita.rental.ui.palette.DefaultPalette">
      </palette>
   </extension>

</plugin>
