<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            category="com.bonita.rental.ui.pagePalette"
            class="com.bonita.rental.ui.prefs.RentalColorPreferencePage"
            id="com.bonita.rental.ui.pagecolor"
            name="Default Colors">
      </page>
      <page
            class="com.bonita.rental.ui.prefs.RentalPalettePreferences"
            id="com.bonita.rental.ui.pagePalette"
            name="Palettes">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bonita.rental.ui.prefs.RentalInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.opcoach.training.rental.Rental"
            class="com.bonita.rental.adapters.RentalToCustomerAdapterFactory">
         <adapter
               type="com.opcoach.training.rental.Customer">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.bonita.rental.ui.palette">
      <palette
            id="com.bonita.rental.ui.DefaultPalette"
            name="Default Palette"
            paletteClass="com.bonita.rental.ui.palette.DefaultPalette">
      </palette>
      <palette
            id="com.bonita.rental.ui.palette2"
            name="Ugly Palette"
            paletteClass="com.bonita.rental.ui.palette.UglyPalette">
      </palette>
   </extension>

</plugin>
